.home-page-header {
    background-image: url("../images/home-background.jpg");
}

.fas.fa-angle-right.clr-gry.slick-arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 9;
    font-size: 25px;
    z-index: 1;
}

.fas.fa-angle-left.clr-gry.slick-arrow {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 25px;
    z-index: 1;
}

.slick-list.draggable {
    padding: 0 !important;
}

